*{
    color:rgb(1, 4, 5);
    font-family:Arial, Helvetica, sans-serif
    }

h1{
    color: #FF4500;
    font-family: Arial, Helvetica, sans-serif;
}

#me{
    color:#FF6347
}

h2{
    color: Orange;
    font-family: Arial, Helvetica, sans-serif;
}

div{

}

.links{
    color: #6A5ACD;
    text-decoration: none;
}

a:hover{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    border:3px solid pink;
}

