*{
    color:rgb(1, 4, 5);
    font-family:Arial, Helvetica, sans-serif
    }

h1{
    color: #808000;
    font-family: Arial, Helvetica, sans-serif;
}

#me{
    color:#6B8E23;
}

h2{
    color: Orange;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url("https://cdn.shopify.com/s/files/1/0305/4075/9177/products/papel-de-parede-adesivo-folha-natureza-n02268-273452.jpg?v=1643339362");
}

div{
    background-color: white;
    padding: 10px 20px 30px 40px;
    border: 2px solid black;
    margin: 20px 40px;
}

.links{
    color: #6A5ACD;
    text-decoration: none;
}

a:hover{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    border:3px solid pink;
}


